@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=New+Amsterdam&family=Oswald:wght@200..700&display=swap');
:root{

    --color-principal: #102C57;
    --color-secundario: #609ED4;
    --color-terciario: aqua;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    
    min-height: 100vh;
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
  
    
}

.header, .contenido, .footer{

    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    
}
.header{

    
    background: linear-gradient(to right,#093145, #1679AB);
    color: var(--color-terciario);
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-family: New Amsterdam;
    position: sticky;
    top: 0;
    
}

.contenido{

    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    
    
    

    
    
}

.contenido__seccion1{
 
    width: 90%;
    height: 270px;
    background-color: #1679ab71;
    color: whitesmoke;
    border-width: 2.5px;
    border-style: solid;
    border-color: aqua;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 5px;
    margin-top: 10px;
}

.contenido__divp{

    
    gap: 50px;
    width: 90%;
    justify-content: left;
    font-size: 1.6rem;
    font-family: New Amsterdam;
    color:var(--color-terciario);
    align-self: center;
    padding-left: 2px;
}

.contenido__seccion1__areatexto{

    width: 90%;
    height: 200px;
    background-color: var(--color-principal);
    border-style: solid;
    border-color: var(--color-terciario);
    border-width: thin; 
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Oswald;
    cursor:text;
    padding-left: 2px;
    
    
}

.contenido__seccion__div__botones{

    display: flex;
    width: 90%;
    justify-content:space-between;
    align-self: center;

    
}

.contenido__seccion1__mensaje{

    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
}

.contenido__seccion1__icono{

    width: 8%;
}
.contenido__seccion__div__boton{

    width: 35%;
    height: 30px;
    background-color:var(--color-terciario);
    text-align: center;
    color:black;
    border-radius: 8px;
    border-color: var(--color-terciario);
    font-size: 1.25rem;
    font-family: New Amsterdam;
    
}

    
.contenido__seccion__div__boton:hover{

    background-color: rgba(16, 83, 227, 0.572);
    color: azure;
}


.contenido__seccion2{
    
    
    width: 90%;
    height: 270px;
    background-color: #1679ab71;
    color: whitesmoke;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 8px;
    border-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 5px;
    margin-bottom: 10px;
    
    
   
    
}

.contenido__seccion2__div{

    width: 90%;
    height: 180px;
    font-size: 1.2rem;
    font-family: Oswald;
    color: #EEF7FF;
    background-color: var(--color-principal);
    border-style: solid;
    border-color: var(--color-terciario);
    border-width: thin;
    border-radius: 10px;
    display: flex;
    align-self: center;
    align-content: center;
    
    
}

.contenido__seccion2__divImg{

    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    
    
    
    
    
}

.contenido__seccion2__imagen{

    width: 25%;
   

}
 



.footer{

    display: flex;
    background: linear-gradient(to right,#1679AB,#093145);
    color: whitesmoke;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: sticky;
    
}

@media screen and (min-width:576px){

    

    .contenido__seccion1, .contenido__seccion2{

        width: 85%;
        height: 240px;
       
    }
    
    
    .contenido__divp{

        align-self: center;
    }
    .contenido__seccion2__div{

        height: 180px;
    }
    .contenido__seccion2__divImg{

        height: 140px;
        font-size: 0.9rem;
        justify-content:center;
        margin-top: 5px;
    }
    .contenido__seccion2__imagen{

        width: 18%;
       
    
    }
}


@media screen and (min-width: 768px){

    
    .contenido{

        display: flex;
        flex-direction: row;

    }

    .contenido__divp{

        width: 90%;
        align-self: center;
    }
    .contenido__seccion1{

        width: 45%;
        height: 350px;
        margin-top: 0px;
        display: flex;
        justify-content: start;
    }

    .contenido__seccion1__areatexto{

        height: 200px;
    }
    
    .contenido__seccion2{


        width: 45%;
        height: 350px;
        margin-bottom: 0px;
        display: flex;
        justify-content:start;

    }

    .contenido__seccion2__div{

        height: 200px;
        font-size: 1rem;

    }
}



@media screen and (min-width: 992px){

    
    .contenido{

        display: flex;
        flex-direction: row;

    }

    .contenido__divp{

        width: 90%;
        align-self: center;
    }
    .contenido__seccion1{

        width: 45%;
        height: 350px;
        margin-top: 0px;
        display: flex;
        justify-content: start;
    }

    .contenido__seccion1__areatexto{

        height: 200px;
    }
    
    .contenido__seccion2{


        width: 45%;
        height: 350px;
        margin-bottom: 0px;
        display: flex;
        justify-content:start;

    }

    .contenido__seccion2__div{

        height: 200px;
    }

    @media screen and (min-width: 1024px){

        .contenido__seccion__div__boton{

            cursor:pointer;
        }


    }
}


