@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=New+Amsterdam&family=Oswald:wght@200..700&display=swap');
:root{

    --color-principal: #102C57;
    --color-secundario: #609ED4;
    --color-terciario: aqua;
}

*{
    
    margin: 0;
    padding: 0;
   
}

body{

    box-sizing: border-box;
    background-image: url(/assets/fondo-del-código-binario.jpg);
    
    
}

.header{

    display: flex;
    background: linear-gradient(to right,#093145, #1679AB);
    color: var(--color-terciario);
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: New Amsterdam;
    
}

.contenido{

    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    

    
    
}

.contenido__seccion1{
 
    display: flex;
    background-color: #1679ab71;
    color: whitesmoke;
    width: 35%;
    height: 480px;
    border-width: 2.5px;
    border-style: solid;
    border-color: aqua;
    border-radius: 8px; 
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
    gap: 10px;


    
}

.contenido__divp{

    display: flex;
    gap: 50px;
    width: 90%;
    justify-content: left;
    font-size: 1.6rem;
    font-family: New Amsterdam;
    color:var(--color-terciario);
}

.contenido__seccion1__areatexto{

    
    background-color: var(--color-principal);
    border-style: solid;
    border-color: var(--color-terciario);
    border-width: thin;
    width: 90%;
    height: 350px;
    padding: 0 2px 0 2px;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Oswald;
    cursor:text;
    
    
}

.contenido__seccion__div__botones{

    display: flex;
    gap: 200px;
    width: 90%;
    justify-content: center;
    

}

.contenido__seccion1__mensaje{

    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
}

.contenido__seccion1__icono{

    width: 8%;
}
.contenido__seccion__div__boton{

    
    background-color:var(--color-terciario);
    width: 50%;
    height: 30px;
    text-align: center;
    color:black;
    border-radius: 8px;
    border-color: var(--color-terciario);
    font-size: 1.25rem;
    font-family: New Amsterdam;
    cursor: pointer;
}

    
.contenido__seccion__div__boton:hover{

    background-color: rgba(16, 83, 227, 0.572);
    color: azure;
}


.contenido__seccion2{
    
    
    display: flex;
    background-color: #1679ab71;
    color: whitesmoke;
    width: 35%;
    height: 480px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 8px;
    border-color: var(--color-terciario);
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
    
}

.contenido__seccion2__div{

    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: right;
    font-size: 1.2rem;
    font-family: Oswald;
    color: #EEF7FF;
    background-color: var(--color-principal);
    border-style: solid;
    border-color: var(--color-terciario);
    border-width: thin;
    width: 90%;
    height: 350px;
    padding: 0 2px 0 2px;
    border-radius: 10px;
    
}

.contenido__seccion2__divImg{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenido__seccion2__imagen{

    width: 30%;
   

}
 



.footer{

    display: flex;
    background: linear-gradient(to right,#1679AB,#093145);
    color: whitesmoke;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    
}

@media(max-width: 1200px){

    .contenido__seccion__div__botones{

        gap:10px;
    }

 

}

@media(max-width: 768px){

    .contenido__seccion1{

        width: 40%;
        height: 450px;
    }

    .contenido__seccion2{

        width: 40%;
        height: 450px;
    }

    .contenido__seccion2__div{

        height: 321px;
    }

    .contenido__seccion__div__botones{

        gap: 5px;
    }

 

}

@media(max-width: 576px){

    .header{

        font-size: 2.3rem;
    }
    .contenido{

        flex-direction: column;
        
    }

    .contenido__seccion1{

        width: 80%;
        height: 350px;
    }

    .contenido__seccion2{

        width: 80%;
        height: 350px;
    }

    .contenido__seccion2__div{

        height: 300px;
    }

    .contenido__seccion2__imagen{

        height: auto;
    }
    .contenido__seccion__div__botones{

        gap: 10px;
    }

}

@media(max-width: 375px){

    .header{

        font-size: 2rem;
    }
    .contenido{

        flex-direction: column;
        
    }

    .contenido__seccion1{

        width: 80%;
        height: 350px;
    }

    .contenido__seccion2{

        width: 80%;
        height: 350px;
    }

    .contenido__seccion2__div{

        height: 350px;
    }

    .contenido__seccion2__imagen{

        height: auto;
    }
    .contenido__seccion__div__botones{

        gap: 10px;
    }

 

}